# example start config to bind frontends to all interfaces with customs ports
#   http       - 18081
#   https      - 18082
#   xmpp       - 18083
#   net(chat)  - 18084
# proxy real ip address frontends not started
# and backends directly to whatsapp servers
# certificate file generate in working directory
# and starts metrics server on 18080 port


WHATSAPP_PROXY_CERT_FILE="./.whatsapp-proxy-cert.pem"

## if haproxy starts with not-current user like haproxy, use WHATSAPP_PROXY_CERT_FILE_CHOWN env
## to chown cert file
# WHATSAPP_PROXY_CERT_FILE_CHOWN="haproxy:haproxy"

WHATSAPP_STATS_BIND_PORT="18080"

WHATSAPP_V4_HTTP_FRONTEND_BIND="ipv4@*:18081"
# WHATSAPP_V4_HTTP_FRONTEND_ACCEPT_PROXY_BIND=""

WHATSAPP_V4_HTTPS_FRONTEND_BIND="ipv4@*:18082"
# WHATSAPP_V4_HTTPS_FRONTEND_ACCEPT_PROXY_BIND=""

WHATSAPP_V4_XMPP_FRONTEND_BIND="ipv4@*:18083"
# WHATSAPP_V4_XMPP_FRONTEND_ACCEPT_PROXY_BIND=""

WHATSAPP_V4_NET_FRONTEND_BIND="ipv4@*:18084"

## in current configuration we use directly whatsapp backend
## if you use chain proxy, for example:
##   whatsapp-haproxy-local -> socks connect via ssh to remote (1.1.1.1) -> whatsapp-haproxy-remote -> whatsapp servers 
## you should set WHATSAPP_NET_DESTINATION, WHATSAPP_XMPP_DESTINATION and WHATSAPP_NET_HTTP_DESTINATION
## to 127.0.0.1:LOCAL-SOCKS-PORT destinations
# WHATSAPP_NET_DESTINATION="127.0.0.1:9083"
# WHATSAPP_XMPP_DESTINATION="127.0.0.1:9081"
# WHATSAPP_NET_HTTP_DESTINATION="127.0.0.1:9080"

## if haproxy is not installed in PATH use WHATSAPP_HAPROXY_BIN env
# WHATSAPP_HAPROXY_BIN="/usr/local/bin/haproxy"

## if haproxy config (whatsapp-haproxy.cfg) is copy not in working directory
## (when build docker image for example) use WHATSAPP_PROXY_CONFIG_FILE env
# WHATSAPP_PROXY_CONFIG_FILE="/etc/whatsapp.haproxy.cfg"
